* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article {
    width: 800px;
    margin: 100px auto 0 auto;
    background: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 10px 10px 50px 10px;
    text-align: center;

    div {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
        padding: 20px 20px 40px 20px;

        a {
            font-size: 17px;

        }
    }


    section:not(:last-of-type) {
        width: 300px;
        height: 50px;
        border: solid 1px gray;
        border-radius: 2px;
        margin: 0 auto 20px auto;
        text-align: right;
        background: white;
        position: relative;

        input {
            width: calc(100% - 30px);
            height: 100%;
            outline: none;
            border: none;
            background: transparent;
        }

        &:focus-within {
            border: solid 1px blue;
        }

        span {
            color: red;
            position: absolute;
            right: -5px;
            translate: 100% 50%;
        }
    }

    section:last-of-type {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 16px;
            height: 16px;
        }
    }

    button {
        width: 300px;
        height: 40px;
        margin-top: 5px;
        background-color: rgb(0, 140, 255);
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 17px;
    }

    section.code a {
        color: blue;
        text-decoration: none;
        position: absolute;
        right: 15px;
        translate: 0 56%;
    }
}